.*.swp      # Vim Files
*~          # backup files

# Generated text files
config.txt

# Log files
install.txt
installer.txt
remove.txt
start.txt
stop.txt
update.txt
cam.txt

# website config
etc/nginx/sites-available/default

# settings
etc/raspimjpeg/raspimjpeg
