.*.swp      # Vim Files
*~          # backup files

# Generated text files
install.txt
installer.txt
config.txt
start.txt
stop.txt
update.txt
cam.txt

# website config
etc/nginx/sites-available/default

# settings
etc/raspimjpeg/raspimjpeg
